
{% extends "layout/seriesLayout.html" %}

{% block title %}{{ block.super }}Accueil{% endblock %}

{% block content %}


<div id="series" class="container text-center">
  <h1>LES SERIES</h1>
  <p><em>We love series</em></p>
  <p>Bienvenu sur notre site scrapping permettant de regrouper toutes les séries disponibles</p>
  <p>Voici les 3 séries les plus récentes, pour pouvoir consulter notre grande
      gamme de séries merci de continuer votre navigation dans la section
      <i>RECHERCHE</i></p>
  <br>
  <div class="row">

      {% for serie in series %}
        <div class="col-sm-4">
          {% include "block/seriesynth.html" with serie=serie %}
        </div>
      {% endfor %}

  </div>
</div>



{% endblock %}
