
{% extends "layout/seriesLayout.html" %}

{% block title %}{{ block.super }}Accueil{% endblock %}

{% block content %}


<div id="series" class="container text-center">
<h3>RECHERCHE</h3>
</div>

{% include "utils/form.html" with form=form %}
<div class="row">
{% for serie in data %}
<div class="col-md-4">
{% include "block/seriesynth.html" with serie=serie horizontal=True noSynopsis=True%}
</div>
{% endfor %}
</div>

{% endblock %}
