{% extends "layout/adminLTELayout.html" %}

{% block title %}{{ block.super }}Acteurs{% endblock %}

{% block content %}
<h1>Acteurs</h1>

<h2>Nombre de series: {{nbSeries}}</h2>
<h2>Nombre d'acteurs: {{nbActeurs}}</h2>
    {% for actor in lastSix %}
        {% include "block/actor.html" with actor=actor bo=True %}
    {% endfor %}

{% endblock %}

{% block active %}nav-series{% endblock %}
