
{% extends "layout/adminLTELayout.html" %}

{% block title %}{{ block.super }}Liste des acteurs{% endblock %}

{% block content %}
    <h1>Acteurs <small>Liste complete des acteurs</small></h1>

    {% for actor in actors %}
        {% include "block/actor.html" with actor=actor bo=True %}
    {% endfor %}

{% endblock %}

{% block active %}nav-list-series{% endblock %}
