
{% extends "layout/adminLTELayout.html" %}

{% block title %}{{ block.super }}Ajout d'acteurs{% endblock %}

{% block content %}
    {% if edit %}
        <h1>Acteurs <small>Edition d'un acteur</small></h1>
    {% else %}
        <h1>Acteurs <small>Ajout manuel d'un acteur</small></h1>
    {% endif %}

    {% include "utils/form.html" with form=form %}

{% endblock %}

{% block active %}nav-new-series{% endblock %}
