body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    min-height: 100%;
    margin-top: 60px;
}
html {
    min-height: 100%;
}
h3, h4 {
    margin: 10px 0 30px 0;
    font-size: 20px;
    color: #111;
}
.container {
    padding: 80px 120px;
}

#series {
    padding : 0;
}

.h3view {
    margin: 10px 0 10px 0;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 35px;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;ackstrom
    width: 100%;
    height: 400px;position:fixed; bottom:0
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
}position:fixed; bottom:0"
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
.form-control {
    border-radius: 26px;
        width: 28%;
}
textarea {
    resize: none;
}

.serie-block {
    margin: 10px 5px 10px 5px;
}

.inline {
    display: inline-block;
    margin: 10px 0 0px 0;
}

.synthimag{
    max-width:100%;
}

.serie-header > h3{
    margin-bottom: 5px;
}


/* Noir et blanc */
.grayscale div img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grayscale div:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#infobulle {
    display: none;
    position: absolute;
    background-color:#000;
}

#pop{
     color:#ccc;
     text-shadow:0 -1px 0 black;
}
#pop:hover,#pop:focus{
     background:rgba(0,0,0,.4);
     box-shadow:0 1px 0 rgba(255,255,255,.4);
}

#pop span{
     position:absolute;
     z-index: 1;
     transition:all .25s;
     margin-top:23px;
     margin-left:-320px;
     color:#09c;
     width:100%;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     transform:scale(0) rotate(-12deg);
}

#imgview{
text-align: center;

}

#imgview > img{
padding: 5px;
margin: auto;
width:100%;
}

#pop:hover span, #pop:focus span{
     transform:scale(1) rotate(0);
     opacity:1;
}
/*#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:180px;
}

#tooltip .tipHeader {
    height:8px;
    background:url(images/tipHeader.gif) no-repeat;
}

/* IE hack */
/**html #tooltip .tipHeader {margin-bottom:-6px;}

#tooltip .tipBody {
    background-color:#000;
    padding:5px 5px 5px 15px;
}

#tooltip .tipFooter {
    height:8px;
    background:url(images/tipFooter.gif) no-repeat;
}*/*/
