<div class="actor-block">
    <header class="actor-header">
        <h3>
                <img class="synthimag" src="{{actor.image}}" alt="" />
        </h3>
        {% if bo %}
        <h2>
            <a href="{% url 'bo-view-actor' actor.name %}">
                {{actor.name}}
            </a>
        </h2>
        {% else %}
        <h2>
            {{actor.name}}
        </h2>
        {% endif %}
    </header>
    <section class="actor-description">
        <h3>Informations</h3>
        <ul>
            <li>
                Nationalité : {{ actor.nationality }}
            </li>
            <li>
                Date de naissance : {{ actor.birthdate }}
            </li>
            <li>
                Lieu de naissance : {{ actor.bornCity }}
            </li>
            <li>
                Taille : {{actor.size}}
            </li>
        </ul>
    </section>
</div>
