<div class="serie-block">

    {% if horizontal %}
    <div class="col-md-4">
        {% endif %}

        {% if bo %}
        <section class="serie-image">
            <a href="{% url 'bo-view-serie' serie.name %}">
                <img class="synthimag" src="{{serie.image}}" alt="" />
            </section>
            {% else %}
            {% if horizontal %}
            <section class="serie-image">
                <a href="{% url 'series-view-serie' serie.name %}">
                    <div> <img class="synthimag" src="{{serie.image}}" alt="" /> </div>
                </a>
            </section>
            {% else %}
            <div class="grayscale">
            <div>
            <section class="serie-image">
                <a href="{% url 'series-view-serie' serie.name %}">
                    <div> <img  class="synthimag" src="{{serie.image}}" alt="" /> </div>
                </a>
                </section>
            </div>
            </div>
            {% endif %}
                {% endif %}

                {% if horizontal %}
            </div>
            <div class="col-md-8">
                {% endif %}

                <header class="serie-header">
                    {% if bo %}
                    <h3>
                        <a href="{% url 'bo-view-serie' serie.name %}">
                            {{serie.name}}
                        </a>
                    </h3>
                    {% else %}
                    <h3>
                        <a  href="{% url 'series-view-serie' serie.name %}">
                            {{serie.name}}
                        </a>
                    </h3>
                    {% endif %}
                </header>
                {% if noSynopsis %}
                <section class="serie-description">
                    {% for prop in serie.searchData %}
                    {{prop}}
                    {% endfor %}
                    <a id="pop" href="#"> <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <span>{{serie.description}}</span>
                    </a>
                </section>

                {% else %}
                <section class="serie-description">
                    <h3 class="inline">Synopsis: </h3>
                    {{serie.description|truncatewords:20}}
                </section>
                {% endif %}
                {% if horizontal %}
            </div>
            {% endif %}
        </div>
