<div class="serie-block">
    <header class="serie-header">
        {% if VSerie %}
        <h3>
            <img class="synthimag" src="{{serie.image}}" alt="" />
        </h3>
        {% else %}
        {% endif %}
        {% if bo %}
        <h2>
            <a href="{% url 'bo-view-serie' serie.name %}">
                {{serie.name}}
            </a>
        </h2>
        {% else %}
        <h2>
            <a href="{% url 'series-view-serie' serie.name %}">
                {{serie.name}}
            </a>
        </h2>
        {% endif %}
    </header>
    <section class="serie-description">
        <h3 class="h3view">Synopsis</h3>
        {{serie.description}}
    </section>
    <section class="serie-properties">
        <h3 class="h3view">Propriétés</h3>
        <ul>
            {% for properie in serie.frenchPropertyArray %}
            <li>{{properie}}</li>
            {% endfor %}
        </ul>
    </section>
    <aside class="serie-tags">
        <h3 class="h3view">Tags</h3>
        {% for tag in serie.tags %}
        {{tag}},
        {% endfor %}
    </aside>
    <aside class="serie-actors">
        <h3 class="h3view">Acteurs</h3>
        <div class="raw">
            {% for actor in serie.getActors %}
            <div class="col-md-2">
                <a  id="imgview" href="{% url 'series-view-actor' actor.name %}">
                    <h5>{{actor.name}}</h5>
                    <img src="{{actor.image}}" alt="" />
                </a>
            </div>
            {% endfor %}
        </div>
    </aside>
</div>
