
{% extends "layout/adminLTELayout.html" %}

{% block title %}{{ block.super }}Accueil{% endblock %}

{% block content %}
<h1>Overwiew <small>Retrouvez ici les informations basiques du site</small></h1>
{% endblock %}

{% block active %}nav-overview{% endblock %}
