{% extends "layout/adminLTELayout.html" %}

{% block title %}{{ block.super }}Series{% endblock %}

{% block content %}
<h1>Series</h1>

<h2>Nombre de series: {{nbSeries}}</h2>
<h2>Nombre d'acteurs: {{nbActeurs}}</h2>
    {% for serie in lastSix %}
        {% include "block/serie.html" with serie=serie bo=True %}
    {% endfor %}

{% endblock %}

{% block active %}nav-series{% endblock %}
