
{% extends "layout/adminLTELayout.html" %}

{% block title %}{{ block.super }}Liste des series{% endblock %}

{% block content %}
    <h1>Series <small>Liste complete des series</small></h1>

    {% for serie in series %}
        {% include "block/serie.html" with serie=serie bo=True %}
    {% endfor %}

{% endblock %}

{% block active %}nav-list-series{% endblock %}
