
{% extends "layout/adminLTELayout.html" %}

{% block title %}{{ block.super }}Ajout de serie{% endblock %}

{% block content %}
    {% if edit %}
        <h1>Series <small>Edition d'une serie</small></h1>
    {% else %}
        <h1>Series <small>Ajout manuel d'une serie</small></h1>
    {% endif %}

    {% include "utils/form.html" with form=form %}

{% endblock %}

{% block active %}nav-new-series{% endblock %}
