{% load static %}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Admin - {% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'libs/AdminLTE/dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect.
-->
<link rel="stylesheet" href="{% static 'libs/AdminLTE/dist/css/skins/skin-blue.min.css' %}">

<link rel="stylesheet" href="{% static 'css/boStyle.css' %}">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b>s<b>S</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Series</b> Scrapping <b>Site</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">

                  <li class="header"><i class="fa fa-home"></i><span>ACCUEIL</span></li>
                  <li id="nav-overview"><a href="{% url 'bo-home' %}"><i class="fa fa-area-chart"></i><span>Overview</span></a></li>

                  <li class="header"><i class="fa fa-list"></i><span>SERIES</span></li>
                  <li id="nav-series"><a href="{% url 'bo-series' %}"><i class="fa fa-desktop"></i><span>Accueil Séries</span></a></li>
                  <li id="nav-list-series"><a href="{% url 'bo-list-series' %}"><i class="fa fa-list"></i><span>Liste</span></a></li>
                  <li id="nav-new-series"><a href="{% url 'bo-new-serie' %}"><i class="fa fa-plus"></i><span>Ajouter</span></a></li>

                  <li class="header"><i class="fa fa-list"></i><span>ACTEURS</span></li>
                  <li id="nav-actors"><a href="{% url 'bo-actors' %}"><i class="fa fa-desktop"></i><span>Accueil Acteurs</span></a></li>
                  <li id="nav-list-actors"><a href="{% url 'bo-list-actors' %}"><i class="fa fa-list"></i><span>Liste</span></a></li>
                  <li id="nav-new-actor"><a href="{% url 'bo-new-actor' %}"><i class="fa fa-plus"></i><span>Ajouter</span></a></li>

                  <li class="header"><i class="fa fa-tasks"></i><span>SCRAPING</span></li>
                  <li id="nav-scraping-seriesadict"><a href="{% url 'bo-scraping' 'seriesaddict' %}"><i class="fa fa-film"></i><span>SeriesAddict</span></a></li>

                  <li class="header"><i class="fa fa-users"></i><span>MEMBRES</span></li>
                  <li id="nav-users-admin"><a href="#"><i class="fa fa-user-circle-o"></i><span>Administrateurs</span></a></li>
                  <li id="nav-users-users"><a href="#"><i class="fa fa-user"></i><span>Utilisateurs</span></a></li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">

                {% block content %}{% endblock %}

            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Your Page Content Here -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Théo guerin</a>.</strong> All rights reserved.
        </footer>

    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.2.3 -->
    <link rel="stylesheet" href="{% static 'libs/AdminLTE/dist/css/skins/skin-blue.min.css' %}">

    <script src="{% static 'libs/jquery/js/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'libs/AdminLTE/dist/js/app.min.js' %}"></script>

    <script type="text/javascript">
    document.getElementById( "{% block active %}{% endblock %}").className += " active";
    </script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. Slimscroll is required when using the
    fixed layout. -->
</body>
</html>
