{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
       <!-- Font Awesome -->
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
       <!-- Ionicons -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
       <!-- Theme style -->
       <link rel="stylesheet" href="{% static 'css/style.css' %}">
         <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'series-home' %}">Series Scrapping Site</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'series-home' %}">HOME</a></li>
                <li><a href="{% url 'series-recherche' %}">RECHERCHE</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Container  -->
        {% block content %}
        {% endblock %}

        <script src="{% static 'libs/jquery/js/jquery.min.js' %}"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- AdminLTE App -->

    </body>
</html>
